.mr-auto {
  margin-right: auto;
}

.badge-primary {
  color: #fff;
  background-color: #0d6efd;
  border: 1px solid transparent;
}

.header {
  position: relative;
}
.header::before {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: -100;
  content: "";
  height: 100%;
  display: inline-block;
  border-bottom: 0.5px solid #fff;
  width: 100vw;
  background-color: rgba(47, 79, 79, 0.5);
}

canvas {
  display: block;
  height: 100%;
  left: 0;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1000;
  cursor: pointer;
}

.home-wrapper {
  padding-bottom: 0;
}

.home-header {
  padding-left: 0.5rem;
  margin-bottom: 2rem;
}

.home-list {
  padding-left: 5rem;
  margin-bottom: 2rem;
}

.home-text-background {
  margin-bottom: 0;
}
