body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2 {
  margin-top: 25px;
  margin-bottom: 15px;
}

#root {
  width: 100vw;
}

.container {
  margin: 0 auto;
  padding: 10px 20px;
  max-width: 600px;
}

form {
  margin-bottom: 10px;
}

button {
  margin-left: 10px;
}

label {
  margin-left: 5px;
  margin-bottom: 5px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.input-wrapper {
  display: inline-block;
}
